* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, black, green);
    opacity: 0.8;

}

h1 {
    text-align: center;
    margin-top: 20px;
}

.conteudo-input {
    width: 450px;
    height: 400px;
    margin: 30px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-top: 10px;


}




.conteudo-input div {
    border: 1px solid black;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 0 10px;
}

.conteudo-input input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 4%;

}

.button-input {
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    background-color: chartreuse;
    color: black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;

}

.button-input:hover {
    background-color: rgb(0, 255, 170);
    color: aliceblue;
}